<h2 class="grid__titre">... Et, quel sont les modèles ?</h2>
<h3 class="grid__sous-titre">(cliquez sur un modèle pour obtenir le QR code qui permet de le configurer !)</h3>
<section class="grid">
    <figure class="grid__figure" id="1">
        <span>P2</span>
        <img src="img/casque/dodocase.webp" alt="cardboard dodocase">
        <figcaption style="display: none;" >QR code: <img src="img/qrcode/dodocasep2.webp" alt="le QR code à scanner"></figcaption>
    </figure>
    <figure class="grid__figure" id="2">
        <span>DSCVR</span>
        <img src="img/casque/dscvr.webp" alt="cardboard dscvr">
        <figcaption style="display: none;" >QR code: <img src="img/qrcode/dscvr.webp" alt="le QR code à scanner"></figcaption>
    </figure>
    <figure class="grid__figure" id="3">
        <span>GRAB VR</span>
        <img src="img/casque/grab-vr.webp" alt="cardboard grab-vr">
        <figcaption style="display: none;" >QR code: <img src="img/qrcode/homidograb.webp" alt="le QR code à scanner"></figcaption>
    </figure>
    <figure class="grid__figure" id="4">
        <span>Homido "Mini"</span>
        <img src="img/casque/homidomini.webp" alt="cardboard homido-mini">
        <figcaption style="display: none;" >QR code: <img src="img/qrcode/homidomini.webp" alt="le QR code à scanner"></figcaption>
    </figure>
    <figure class="grid__figure" id="5">
        <span>Knox V2</span>
        <img src="img/casque/knox.webp" alt="cardboard knox">
        <figcaption style="display: none;" >QR code: <img src="img/qrcode/v2.webp" alt="le QR code à scanner"></figcaption>
    </figure>
    <figure class="grid__figure" id="6">
        <span>POP! 3.0</span>
        <img src="img/casque/pop-3.0.webp" alt="cardboard pop 3.0">
        <figcaption style="display: none;" >QR code: <img src="img/qrcode/pop.webp" alt="le QR code à scanner"></figcaption>
    </figure>
    <figure class="grid__figure" id="7">
        <span>SMARTvr </span>
        <img src="img/casque/smartvr.webp" alt="cardboard smartvr">
        <figcaption style="display: none;" >QR code: <img src="img/qrcode/smartvr.webp" alt="le QR code à scanner"></figcaption>
    </figure>
    <figure class="grid__figure" id="8">
        <span>UC 2.0</span>
        <img src="img/casque/uc.webp" alt="cardboard unofficial cardboard">
        <figcaption style="display: none;" >QR code: <img src="img/qrcode/uc.webp" alt="le QR code à scanner"></figcaption>
    </figure>
    <figure class="grid__figure" id="9">
        <span>V2</span>
        <img src="img/casque/v2.webp" alt="cardboard v2">
        <figcaption style="display: none;" >QR code: <img src="img/qrcode/v2.webp" alt="le QR code à scanner"></figcaption>
    </figure>
    <a href="#top"><img src="img/bas.svg" alt="descendre"></a>
</section>