<h2 class="presentation__titre" id="oui">... Qu'est ce que c'est ? ...</h2>
    <div class="presentation">
    <p>Le cardboard est un casque VR ou le role de l'écan est tenu par votre télephone, bien moins cher qu'un véritable casque VR il constitue un très bon moyen de la découvrir
    </p>
</div>