<h2 class="where__titre" id="oui">... Ou les trouver ? ...</h2>
<div class="where">
    <p>Partout ! C'est un projet libre si vous avez les 
    <a target="_blank" href="https://fr.wikipedia.org/wiki/Google_Cardboard#Composition_mat%C3%A9rielle">éléments nécessaire</a> 
    vous pouvez le faire vous même, si vous souhaitez l'acheter, quelques pistes sont disponibles sur le site de 
    <a target="_blank" href="https://arvr.google.com/intl/fr_fr/cardboard/get-cardboard/">Google</a>
    </p>
    <div class="where__slider">
        <div class="where__slider--slides">
        <div class="where__slider--slide"><img src="img/cardboard.webp" alt="un cardboard"></div>
        <div class="where__slider--slide"><img src="img/casque/uc.webp" alt="un autre cardboard"></div>
        <div class="where__slider--slide"><img src="img/casque/knox.webp" alt="un dernier cardboard"></div>
        </div>
    </div>
</div>