.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: 20rem;
}

.grid__titre {
  text-align: center;
  font-family: "Staatliches", cursive;
  font-size: 8vw;
  opacity: 0.75;
}

.grid__figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: rgba($color: #000000, $alpha: 0.1) 2rem solid;
  background-color: rgba($color: #000000, $alpha: 0.1);
  margin: 1.25rem;
  border-radius: 1rem;
}

.grid__figure img {
  max-height: 12.5rem;
}

.grid__figure figcaption {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "New Tegomin", serif;
  font-size: 2rem;
}

.grid__figure figcaption img {
  width: 7rem;
  margin-top: 0.625rem;
}
