.presentation {
  text-align: center;
  min-height: 20vh;
}

.presentation__titre {
  text-align: center;
  font-family: "Staatliches", cursive;
  font-size: 8vw;
  opacity: 0.65;
}

.presentation p {
  margin: 10%;
  font-size: 2rem;
  font-family: "New Tegomin", serif;
}
