@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

@import "reset.scss";

@import "layout.scss";

@import "home.scss";

@import "presentation.scss";

@import "grid.scss";
