<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cardboard</title>
</head>

<body>
    <section id="accueil">
        <img src="img/cardboard.svg" alt="">
        <h1></h1>
    </section>
    <section id="grille">
        <figure class="cardboard" id="x">
            <img src="img/cardboard.svg" alt="cardboard nomducardboard">
            <figcaption>QR code: <img src="img/cardboard.svg" alt="le QR code à scanner"></figcaption>
        </figure>
    </section>
</body>

</html>