<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/styles.scss" />
    <title>Cardboard</title>
</head>

<body>
    <section class="home">
        <img src="img/cardboard.svg" alt="logo google cardboard">
        <h1>Cardboard</h1>
    </section>
    <section class="grid">
        <figure class="grid__figure" id="xx">
            <img src="" alt="cardboard nomducardboard">
            <figcaption>QR code: <img src="" alt="le QR code à scanner"></figcaption>
        </figure>
    </section>
</body>

</html>